@import "/src/theme/variables.scss";

.input {
  background-color: $color-soft-gray;
  width: 80%;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: .6vw;
  outline: 2px solid transparent;
  transition: all .5s;
  
  &:focus {
    border-color: $color-soft-orange;
    outline-color: $color-soft-orange;
  }
}