@import '/src/theme/variables.scss';
@import '/src/theme/extends.scss';

.main-container {
  width: 100vw;
  height: 100vh;
  position: relative;

  .header-title {
    position: absolute;
    @extend .display-center;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - $safearea);
    font-family: $ff-normal;
    font-weight: $fw-regular;
    font-size: 5vw;
    text-align: right;
    color: $color-soft-gray;
    z-index: 2;
    
    .focus-title {
      font-family: $ff-secondary;
      letter-spacing: .5vw;
      // background-color: $color-dark-gray;
      color: $color-soft-orange;
    }
  }

  .circle-blur {
    position: absolute;
    top: -15%;
    left: -15%;
    z-index: 1;
    scale: 3;
    opacity: .4;
  }

  .container-items {
    background-color: red;
    width: 100%;
  }
}