@import '/src/theme/variables.scss';

.container-home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: calc($safearea * 4);
  gap: 10vh 0;


  // max-width: 100vw !important;
}

.class-image {
  width: 60vw;
  height: auto;
  position: absolute;
  right: 0;
}