$color-white: #FFFFFF;
$color-natural: #FDFDFC;
$color-soft-gray: #E3E3E3;
$color-gray: #ACACAC;
$color-bolder-gray: #929292;
$color-dark-gray: #383838;
$color-darkest-gray: #221F20;
$color-black: #161616;

$color-soft-orange:#F58668;
$color-orange: #DB4C22;
$color-coral: #FF5A5A;

$color-green: #40a03d;
$color-soft-green: #62c15f;

$ff-primary: sen;
$ff-secondary: novaSquare;
$ff-tertiary: zenDots;
$ff-normal: montserrat;

$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-black: 900;

$safearea: 12px;
$gaparea-sm: 10vh;
$gaparea-md: 20vh;
$gaparea-lg: 30vh;