@import '/src/theme/variables.scss';
@import '/src/theme/extends.scss';

.container-description {
  width: 100%;
  height: 100%;
  @extend .display-center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 40px;

  .title {
    color: $color-white;
    text-transform: uppercase;
    font-family: $ff-secondary;
    font-size: 6vw;
    width: 100%;
    margin: 20vh;
    text-align: center;
  }
  
  .wrapper {
    position: relative;
    display: flex;
    text-align: left;
    align-items: center;
    width: 100vw;
    max-height: 300px;
    z-index: 1;
    overflow: hidden;
    border-top: 1px solid $color-gray;
    border-bottom: 1px solid $color-gray;
    
    .text-container {
      transition: all .5s;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      margin: 2vw;
      gap: 20px;
      opacity: 0;

      .name {
        text-transform: uppercase;
        font-family: $ff-tertiary;
        font-size: 28px;
        color: $color-natural !important;
      }
      
      .description {
        font-size: 18px;
        font-family: $ff-primary;
      }
      
      .price {
        font-size: 14px;
        text-align: center;
        
        .ammount {
          color: $color-soft-orange;
          font-size: 32px;
        }
      }
      
      .name, .description, .price{
        color: $color-gray;
        width: 50%;
        filter: drop-shadow(10px 5px 8px rgba(0, 0, 0, 0.9));
      }
    }
    
    .image {
      transition: all .5s;
      object-fit: contain;
      width: 60%;
      height: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }
  
    .circle-blur {
      transition: all .5s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: .2;
      scale: 1;
    }

    &:hover {
      background-color: $color-darkest-gray;

      .text-container {
        opacity: 1;
      }

      .image {
        width: 40%;
        left: 75%;
      }

      .circle-blur {
        scale: 2;
      }
    }
  }
}