@import '/src/theme/variables.scss';
@import '/src/theme/extends.scss';

.main-container {
  width: 100vw;
  height: calc(100vh - 40px);
  margin-left: -12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-natural;

  .title {
    text-align: center;
    padding: 1vw;
    font-size: 10vw;
    z-index: 2;
    position: absolute;
    filter: drop-shadow(8px 8px 5px $color-darkest-gray);
  }

  .container-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: calc($safearea * 4);

    .image-item, .circle-blur {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100vw;
      height: calc(100vh - 1vw);
      object-fit: cover;
      pointer-events: none;
    }

    .image-item {
      z-index: 1;
    }
    
    .left-info, .right-info {
      padding: 1vw;
      z-index: 2;
      width: auto;
      background-color: rgba($color: $color-dark-gray, $alpha: .5);
      border-radius: 25px;
      font-family: $ff-normal;
      font-size: 1.2vw;
      display: flex;
      flex-direction: column;
      gap: 1vw;
      filter: drop-shadow(5px 5px 5px $color-darkest-gray);

      .available, .empty {
        padding: .5vw;
        border-radius: 10px;
        text-align: center;
      }
      
      .available {
        background-color: $color-green;
        
      }
      
      .empty {
        background-color: $color-orange;
      }
    }

    .right-info {
      text-align: end;

      .price {
        color: $color-natural;
      }
    }

    .circle-blur {
      opacity: .2;
    }

    .left-info {
      width: 40vw;
    }
  }

  .button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 1;
    color: $color-gray;
    border: 1px solid $color-gray;

    &:hover {
      color: $color-darkest-gray;
      border-color: $color-darkest-gray;
    }
  }
}