@import '/src/theme/variables.scss';
@import '/src/theme/extends.scss';

.container-trust {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  @extend .display-center;
  padding: calc($safearea * 4);
  pointer-events: none;
  margin: 2rem 0;

  .hook-question {
    height: 100%;
    color: $color-gray;
    font-family: $ff-tertiary;
    font-size: 4vw;
  }
  
  .container-center {
    @extend .display-center;
    width: 70%;
    position: relative;
    
    .circle-blur {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      scale: 1;
      opacity: .1;
    }
    
    .wrapper {
      @extend .display-center;
      width: 20vw;
      height: 15vw;
      position: relative;
      
      &:nth-of-type(2) {
        border-inline: 1px solid $color-gray;
        padding-inline: 2vw;
      }
      
      .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(7);
        filter: contrast(0%) invert(10%);
        opacity: .25;
      }
      
      .info {
        text-align: center;
        color: $color-soft-gray;
        font-size: 2vw;
        z-index: 1;
        font-family: $ff-primary;

        .info-title {
          color: $color-soft-orange;
          margin-bottom: 1vw;
        }

        .info-description {
          font-size: 1vw;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .container-trust {
    flex-direction: column;
    gap: 1rem;

    .hook-question {
      color: $color-soft-gray;
    }

    .container-center {
      width: 100%;
      flex-direction: column;
      gap: 10vh;

      .circle-blur {
        width: 150%;
        height: 100%;
        opacity: .05;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
  
      .wrapper {
        width: 100%;

        &:nth-of-type(2) {
          border-inline: none;
          padding-inline: 2vw;
        }

        .info {
          .info-title {
            font-size: 3vw;
          }
          .info-description {
            font-size: 2vw;
          }
        }
      }
    }
  }
}